// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.has-error {
    label {
        color: $red;
    }

    input {
        border: 2px solid $red !important;

    }

    input:focus {
        border: 2px solid $red !important;
    }

    .help-block {
        color: $red;
    }
}

