
.category-dropdown{
    position: absolute;
    display: none;
    z-index: 100;
    width: calc(50% - 40px);
    background-color: #ddd;
}
.category-dropdown li{
    cursor: pointer;
}
.category-dropdown li:hover{
    background-color: #1c3faa;
    color: #fff;
}
#category:focus + .category-dropdown{
    display: block !important;
}