.has-error label {
  color: red;
}

.has-error input {
  border: 2px solid red !important;
}

.has-error input:focus {
  border: 2px solid red !important;
}

.has-error .help-block {
  color: red;
}

.alert-success {
  color: #1d643b;
  background-color: #d7f3e3;
  border-color: #c7eed8;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.pip {
  position: absolute;
  left: 120%;
  display: flex;
  align-items: center;
}

.pip img {
  min-height: 64px;
}

.pip span {
  margin-left: 12px;
}

.modal-container {
  text-align: center;
}

.no-result-msg {
  -moz-text-align-last: center;
       text-align-last: center;
  margin-top: 20px;
}

@media (min-width: 769px) {
  #category-search {
    margin-top: 28px;
  }
}

